APP_NAME=paylite
APP_ENV=dev
APP_DEBUG=true

DB_DRIVER=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=paylite
DB_USERNAME=paylite
DB_PASSWORD=secret
DB_CHARSET=utf8
DB_PREFIX=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_AUTH=(null)
REDIS_DB=0

AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/

AUTHORIZER_URL=https://util.devi.tools/api/v2/authorize
NOTIFIER_URL=https://util.devi.tools/api/v1/notify
AUTHORIZER_BREAKER_FAILURE_THRESHOLD=5
AUTHORIZER_BREAKER_COOLDOWN_SECONDS=10
NOTIFIER_BREAKER_FAILURE_THRESHOLD=5
NOTIFIER_BREAKER_COOLDOWN_SECONDS=10

OUTBOX_PUBLISH_BATCH_SIZE=50
OUTBOX_PUBLISH_MAX_ATTEMPTS=10
OUTBOX_PUBLISH_INITIAL_BACKOFF_SECONDS=5
OUTBOX_PUBLISH_MAX_BACKOFF_SECONDS=300

CRONTAB_ENABLE=true
OUTBOX_PUBLISH_CRON="*/5 * * * * *"
