parameters:
  level: 8
  bootstrapFiles:
    - ./phpstan-bootstrap.php
  paths:
    - ./app
    - ./config
    - ./test
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # Hyperf resolves these static calls to instance methods at runtime.
    - '#Static call to instance method Hyperf\\HttpServer\\Router\\Router::[a-zA-Z0-9\\_]+\(\)#'
    - '#Static call to instance method Hyperf\\DbConnection\\Db::[a-zA-Z0-9\\_]+\(\)#'
